.flexit{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-1{
	flex: 1;
}

section#products{
	padding: 50px 0;
}

section#products a{
	color: black;
}

section#products h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: #00609c;
	margin: 0;
}

section#products .menu{
	padding: 25px 0;
}

section#products .menu .label-item{
	border-right: 1px solid #595757;
}

section#products .menu span.item{
	text-transform: uppercase;
	text-align: center;
	color: #595757;
    width: 85%;
}

section#products .menu span.item:hover{
	cursor: pointer;
}

section#products .menu .label-item:last-child{
	border-right: 0px solid black;
}

section#products .menu span.item span.underline{
	border-bottom: 1px solid transparent;
    position: relative;
    display: block;
    margin: auto;
    width: 60%;
    top: 5px;
}

section#products .menu span.item.active{
	color: #2cadef;
}

section#products .products{
	text-align: center;
	font-weight: bold;
	min-height: 300px;
}

section#products .products .product{
	display: none;
}

section#products .products .product.active{
	display: block;
}

section#products .products .product .image{
	height: 230px;
    width: 230px;
    margin: auto;
    background-size:cover;
}


/*PRODUCTS*/
section#products .products .product .image.img-1{
	background-image: url(https://cdn3.iconfinder.com/data/icons/line-icons-medium-version/64/photo-512.png);
}

section#products .buttons{
	margin-top: 25px;
}

section#products .buttons button.btn{
	background-color: #219ae2;
	text-transform: uppercase;
	padding: 10px 50px;
	font-weight: 600;
	min-width: 325px;
	color: white;
}

@media (max-width: 767px) {
	section#products .buttons{
		display: block;
	}
	section#products .buttons button.btn{
		margin-bottom: 15px;
		width: 100%;
	}
	section#products .menu{
		flex-direction: column;
	}
	section#products .menu .label-item{
		border-right: 1px solid transparent;
		width: 100%;
	}
	section#products .menu span.item.active{
		color: #2cadef;
	}
}